/* Background */
img#background {
    opacity: 0.7;
    width: 230%;
    position: absolute;
    z-index: -1;
    bottom: 40px;
    user-select: none;
}

.background {
    opacity: 0.7;
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: -1;
    bottom: -18%;
    user-select: none;
    background-image: url(../images/background.png);
    background-size: 210% auto;
    background-repeat: repeat-x;
    -webkit-animation: background 450s infinite linear;
    -moz-animation: background 450s infinite linear;
    animation: background 450s infinite linear;
}
  
@-webkit-keyframes background {
    0% {
      background-position: 0;
    }
  
    100% {
      background-position: 500%;
    }
}

@-moz-keyframes background {

    0% {
      background-position: 0;
    }
  
    100% {
      background-position: 500%;
    }
}

@keyframes background {
    
    0% {
      background-position: 0;
    }
  
    100% {
      background-position: 500%;
    }
}