/*
    This style file use for SHIROMI.WORLD only.
    Author: Manose K. Y. Carver Y. Shirakawa (Shiromi)
    E-mail: me@shiromi.info
    Website: https://shiromi.world
    This file under the Creative Commons Attribution 4.0 license (CC BY-NC-ND 4.0).
    https://creativecommons.org/licenses/by-nc-nd/4.0/
*/
html body {
    font-family: dapifer, serif;
    font-weight: 400;
    font-style: normal;
}

div.kanji {
    font-family: vdl-linegr, sans-serif;
    font-weight: 400;
    font-style: normal;
}

div.job-title {
    font-weight: 500;
    font-style: normal;
}

div.quote {
    font-weight: 700;
    font-style: normal;
    }

    div.quote span#quote-text {
        font-family: a-otf-midashi-go-mb31-pr6n,sans-serif;
        font-weight: 600;
        font-style: normal;
    }

div.copyrights {
    font-weight: 500;
    font-style: normal;
}