/* Logo */
g#Logo_Dark {
    fill: #4d4d4d;
}

g#Logo_Dark a:hover .qt{
    fill: #33cccc;
}

.en-1 {
    font-size: 22px;
    font-family: gill-sans-nova-deco, sans-serif;
    font-weight: 400;
    font-style: normal;
}

.en-2 {
    letter-spacing: -0.03em;
}

.en-3 {
    letter-spacing: 0em;
}

.en-4 {
    letter-spacing: -0.02em;
}

.ja {
    font-size: 13px;
    font-family: ta-rb, sans-serif;
    font-weight: 400;
    font-style: normal;
    letter-spacing: 0.2em;
}

.qt {
    font-size: 42px;
    font-family: gill-sans-nova-inline, sans-serif;
    font-weight: 300;
    font-style: normal;
    font-weight: 300;
}